.arc__arc {
  border: 10px solid rgba(90, 220, 70, 0.5);
}

.arc__bg {
  border: 10px solid rgba(60, 255, 100, 0.2);
}

.arc__content {
  position: relative;
  overflow: hidden;
  width: 100%;

}

.arc__container {
  height:100%;
  width:100%;
}

.arc__content::after {
  content: "";
  display: block;
  padding-bottom: 50%;
}

.arc__arc,
.arc__bg {
  position: absolute;
  width: 100%;
  height: 200%;
  box-sizing: border-box;
  border-radius: 50%;
}

.arc__arc {
  border-top-color: transparent;
  border-right-color: transparent;
  transform: rotate(-45deg);
}

.arc__image {
  position:absolute;
  background-position: center 30%;
  background-repeat:no-repeat;
  background-size:40% 40%;
  width: 100%;
  margin-left:auto;
  margin-right:auto;
}

.arc__image::after {
  content: "";
  display: block;
  padding-bottom: 100%;
}
