html, body {

    margin:0px;
    padding:0px;

    width:100%;
    height:100%;

    background:#474747;

    font-family:'open sans', sans-serif;
    overflow:auto;
}

.app {

    display:flex;
    width:100%;
    height:100%;
    min-height: 800px;
    min-width: 600px;
}

.tabBar {

    width:100px;
    height:100%;
    float:left;
    display:flex;
    flex-direction: column;

}

.tabBar__item {

    background:#41546b;
    height:100%;
    width:100%;

    display:flex;
    flex-direction: column;
    vertical-align: middle;
    text-align: center;
    align-content: center;
    align-items: center;
    justify-content: center;
    border-top:none;
    border-left:none;
    border-right: none;
    outline:none;
    border-bottom: solid;
    border-bottom-color: #808b9d;
    border-width: 1px;
}
.tabBar__item:last-child {

    border-bottom: none;

}
.tabBar__item--active {

    background:#808b9d;

}

.tabBar__item__text {

    padding:5px;
    color:white;

}
.tabBar__item__image {

    height:40px;
    width:40px;

}



.content {

    width:100%;
    height:100%;
    background:#f6f7f7;

}

.view {

    display:flex;
    flex-direction: column;
    width:100%;
    height:100%;
}

.nav {

    background:#eef0f0;
    height:50px;
    width:100%;
    display:flex;
    align-content: center;
    align-items: center;
    text-align: center;
    flex-direction: row;
    justify-content: center;

}

.nav__title {

    color:#3f4f4f;
    font-weight: 700;
    text-align: center;
    font-size:18pt;


}

.view__content {
    display:flex;
    height:100%;
    width:100%;
    flex:1;
}

.flex--vertical {
    display:flex;
    flex-direction: column;
    overflow:auto;


}

.flex--vertical::after {
    content: "";
    clear: both;
    display: table;
}

.flex--horizontal {
    display:flex;
    flex-direction: row;
    overflow:auto;
}

.flex--horizontal::after {
    content: "";
    clear: both;
    display: table;
}

.center {

    align-content: center;
    align-items: center;
    justify-content: center;

}

.middle {
    align-content: center;
    align-items: center;
    justify-content: center;
}

.fill {
    flex:1;
}

.item {

    background:white;
    border-radius: 5px;

    box-shadow: 0px 0px 3px 0 #dadde1;

    margin:20px;
    display:flex;

}

.hidden {
    display:none;
}

.text_center {
    text-align: center;
}

.modalBackground {

    background:rgba(255,255,255,0.7);

}

.modal {

    position:absolute;
    top:0px;
    left:0px;

}

.block {
  display:block;
}

.block--fill {
  height:100%;
  width:100%;
}

.block--vertical-center {
  margin-top:50%;
}
